.contentDiv {
    padding: 24px;
    text-align: center;
    background: #EEEEEE;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.cardStats {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

@media(min-width: 1280px) {

    .destinations {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .breadCrumb {
        margin: 16px 0;
        width: 15%
    }
}

@media(max-width: 1280px) {
    .destinations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .cardStats {
        display: block;
    }
}


@media (max-width: 767px) {
    .siderStyle {
        display: none;
    }

    .breadCrumb {
        width: 50%;
    }
}